body{
    background-image: url(https://cdn.wallpapersafari.com/62/63/e0tk1U.jpg);
    text-align: center;
}
button{
    background-color: crimson;
    color: darkmagenta;
}
image{
    height: 100;
    width: 1s00;
}